[Unit]
Description=Heartbeat
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
ExecStart=/usr/bin/curl --max-time 10 --retry 5 --silent --show-error '{{ heartbeat_url }}'
RuntimeMaxSec=60

Restart=no
DynamicUser=true
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictSUIDSGID=true
NoNewPrivileges=true


[Install]
WantedBy=default.target
