[Unit]
Description=Heartbeat
After=network-online.target
Wants=network-online.target
StartLimitBurst=2
StartLimitIntervalSec=60


[Service]
DynamicUser=yes
ExecStart=/usr/bin/curl --silent --show-error '{{ heartbeat_url }}'
RuntimeMaxSec=3

Restart=on-failure
DynamicUser=true
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictSUIDSGID=true
NoNewPrivileges=true


[Install]
WantedBy=default.target