[Unit]
Description=Heartbeat
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
ExecStart=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null '{{ heartbeat_url }}'

RuntimeMaxSec=15

Restart=no
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictSUIDSGID=true
NoNewPrivileges=true


[Install]
WantedBy=default.target
