[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Restart=always

PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true
ReadWritePaths=/mnt/storage/media /var/lib/transmission
ProtectKernelLogs=true
CapabilityBoundingSet=~ CAP_SYS_ADMIN CAP_NET_ADMIN
NoNewPrivileges=true
RestrictNamespaces=true
ProtectClock=true
ProtectKernelModules=yes
LockPersonality=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service quotactl
