[Unit]
After=NetworkManager-wait-online.service
After=network.target

[Service]
Restart=always

DevicePolicy=closed
DeviceAllow=/dev/net/tun

PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true
NoNewPrivileges=true