[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Restart=always

DevicePolicy=closed
DeviceAllow=/dev/net/tun

PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true
NoNewPrivileges=true